* {
    box-sizing: border-box;
}

body {

    width: 100%;
    background-color: #eef9bf;
    display: flex;
}

.tudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eef9bf;
}


.titulo {
    text-align: center;
    background-color: #eef9bf;
    margin-top: 40px;
   
}

.titulo p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;

}

.caixa-de-cartas {
    width: 80%;
    margin-top: 47px;
    background-color: #eef9bf;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;
}

img {
    width: 100px;
    height: 100px;
}

.carta {
    width: 117px;
    height: 146px;
    position: relative;

}


.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;


}

.back-face {
    transform: rotateY(180deg);
}

.selecionado>.back-face {
    transform: rotateY(0deg);
}

.selecionado>.front-face {
    transform: rotateY(-180deg);
}

#timer {
width: 46px;
height: 47px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: -0.004em;
color: #86BD8D;
position: fixed;
top: 0px;
right: 0px;
background-color: #eef9bf;
text-align: center;
}

@media (max-width: 335px) {
    .titulo p {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em;
        color: #75B79E;
       
    }

}