body {
    height: 100%;
    width: 100%;
    background-color: blue;
}

.tudo {
    height: 100%;
    right: 100%;
}

.area-visivel {
    height: 100%;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {

    width: 540px;
    height: 63px;
    background-color: yellow;
    margin-top: 40px;
}

.titulo p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;

}

.caixa-de-cartas {
    height: auto;
    width: 80%;
    margin-top: 47px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* width: calc((90% -117px) / 6);*/

.carta {
    width: calc((90% -117px) / 6);
    height: 146px;
    position: relative;
    margin-bottom: 47px;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    transform-style: preserve-3d;
    perspective: 600px;

}


.face-1 {
    width: 117px;
    height: 146px;
    background-color: yellow;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
}

.face {
    width: 117px;
    height: 146px;
    background-color: palevioletred;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    z-index: 1;
    
}

.carta:active{
   transform: rotateY(180deg);
}


.back-face  {
    transform: rotateY(0deg);
    z-index: 1;
}


.sumir {
    display: none;
}